.container
  .row
    .tag-header
      %span # #{params[:id]}
    -if params[:id] == "web"
      =render partial: "prototypes/prototype" , collection: @web_design_prototypes
    -elsif params[:id] == "ios"
      =render partial: "prototypes/prototype" , collection: @application_prototypes
    -elsif params[:id] == "design"
      =render partial: "prototypes/prototype" , collection: @ui_prototypes
